.cards {
  // display: flex-wrap;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.card {
  box-shadow: 2px 3px 8px lightgrey;
}

.card > img {
  height: 200px;
  background-size: cover;
}

.flat-show-card ul {
  list-style: none;
  padding-left: 0;
}

.flat-show-card ul > li {
  display: inline-block;
  font-size: 2em;
}

.flat-show-card a {
  color: black;
  &:hover {
    color: blue;
  }
}
